<% if user_signed_in? %>
  <li>  <%= link_to("PROFILE", user_path(current_user) )%>  <li>
  <li>  <%= link_to "EDIT INFO", edit_user_registration_path %> </li>
  <li>  <%= link_to("LOGOUT", destroy_user_session_path, method: :delete) %> </li>
<% else %>
  <li>
  <%= link_to("LOGIN", new_user_session_path)  %>
  </li>
<% end %>
