<div class="movie">
  <div class="movie-image"> <span class="play"><span class="name">
  <%= film.name %>
  </span></span> <a href="#"><%=image_tag(film.img)%></a> </div>
  <div class="rating">
    <p><%= t".rating"%></p>
    <div class="stars">
      <div class="stars-in"> </div>
    </div>
    <span class="comments">12</span> </div>
</div>