<div class="box">
  <div class="head">
    <% if @top_movies.any? %> 
      <% @top_movies.each do |film| %>
        <%= render partial: "films/film", locals: { film: film } %>
      <% end %>  
      <div class="cl">&nbsp;</div>
      <%= will_paginate @top_movies %>
    <%end%>
  </div>
</div>